<div class="module mid">
          <h2>Spiseriet Førde</h2>
</div>
<sm-segment class="stacked">
      
       <div class="ui container">
<div class="ui two column stackable grid">

  <div class="ten wide column">
    <div class="ui segment">
<h2>Velkommen</h2>
            <p>Vår ide er å lage mat frå grunnen av

</p>
                        <p>med gode råvarer

</p>

<p>Då får du sunn og god mat

</p>
                        <p>vi baker også våre egne kaker</p>
                        <p>Etter bestemors oppskrifter</p>
    </div>
  </div>
  <div class="six wide column">
    <div class="ui center aligned segment">
         
         <p>95 12 51 47</p>
            <p> 

      	<sm-button class="blue"   onclick="window.open('tel:95125147','_blank');return false;">Ring oss</sm-button>
 </p><sm-button class="grey"   onclick="window.open('mailto:anngjervik@gmail.com','_blank');return false;">Send e-post</sm-button>
    </div>
    <div class="ui segment">
Besøk oss på:
<hr>
 
<a href="{{ (frams | async)?.face }}" class="block" target="_blank"><i class="facebook f icon"> </i> Facebook
                </a>
</div>
  </div>
</div>
</div></sm-segment>
